In [1]:
import pandas as pd
import numpy as np

In [14]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
sub = pd.read_csv('submission.csv')

In [15]:
train.head()

,ID,AGE,GENDER,DRIVING_EXPERIENCE,EDUCATION,INCOME,CREDIT_SCORE,VEHICLE_OWNERSHIP,VEHICLE_YEAR,MARRIED,CHILDREN,POSTAL_CODE,ANNUAL_MILEAGE,SPEEDING_VIOLATIONS,DUIS,PAST_ACCIDENTS,OUTCOME,TYPE_OF_VEHICLE
0,816393,40-64,female,20-29y,university,middle class,0.638050,0.0,after 2015,0.0,0.0,37379,11000.0,0,0,0,0.0,Sports Car
1,251762,26-39,male,20-29y,high school,middle class,0.475741,1.0,before 2015,1.0,0.0,10238,9000.0,0,0,0,1.0,HatchBack
2,481952,40-64,male,20-29y,none,middle class,0.839817,1.0,before 2015,1.0,1.0,10238,12000.0,0,0,0,1.0,Sedan
3,3506,40-64,male,20-29y,high school,upper class,0.682527,1.0,before 2015,0.0,1.0,92099,6000.0,1,0,0,1.0,Sedan
4,498013,40-64,female,20-29y,none,working class,0.572184,1.0,after 2015,1.0,1.0,32122,15000.0,0,0,1,0.0,Sedan

In [16]:
test.head()

,ID,AGE,GENDER,DRIVING_EXPERIENCE,EDUCATION,INCOME,CREDIT_SCORE,VEHICLE_OWNERSHIP,VEHICLE_YEAR,MARRIED,CHILDREN,POSTAL_CODE,ANNUAL_MILEAGE,SPEEDING_VIOLATIONS,DUIS,PAST_ACCIDENTS,TYPE_OF_VEHICLE
0,352928,40-64,male,10-19y,none,working class,0.814707,1.0,after 2015,0.0,1.0,10238,10000.0,0,0,0,HatchBack
1,38579,26-39,female,20-29y,high school,upper class,0.344051,1.0,before 2015,0.0,0.0,34073,13000.0,0,0,0,Sedan
2,504022,40-64,male,10-19y,none,upper class,0.620691,0.0,after 2015,1.0,0.0,10238,12000.0,0,0,0,SUV
3,202404,26-39,male,20-29y,high school,upper class,0.689658,1.0,after 2015,1.0,1.0,10238,16000.0,1,0,0,SUV
4,527913,65+,male,10-19y,none,middle class,0.755666,0.0,after 2015,0.0,1.0,92101,14000.0,2,0,0,HatchBack

In [17]:
train['OUTCOME'].value_counts()

0.0    60622
1.0    44378
Name: OUTCOME, dtype: int64

In [18]:
print(train.shape)
print(test.shape)

(105000, 18)
(45000, 17)

In [19]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105000 entries, 0 to 104999
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ID                   105000 non-null  int64
 1   AGE                  105000 non-null  object
 2   GENDER               105000 non-null  object
 3   DRIVING_EXPERIENCE   105000 non-null  object
 4   EDUCATION            105000 non-null  object
 5   INCOME               105000 non-null  object
 6   CREDIT_SCORE         105000 non-null  float64
 7   VEHICLE_OWNERSHIP    105000 non-null  float64
 8   VEHICLE_YEAR         105000 non-null  object
 9   MARRIED              105000 non-null  float64
 10  CHILDREN             105000 non-null  float64
 11  POSTAL_CODE          105000 non-null  int64
 12  ANNUAL_MILEAGE       105000 non-null  float64
 13  SPEEDING_VIOLATIONS  105000 non-null  int64
 14  DUIS                 105000 non-null  int64
 15  PAST_ACCIDENTS       105000 non-null  int64
 16  OUTCOME              105000 non-null  float64
 17  TYPE_OF_VEHICLE      105000 non-null  object
dtypes: float64(6), int64(5), object(7)
memory usage: 14.4+ MB

In [20]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45000 entries, 0 to 44999
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   45000 non-null  int64
 1   AGE                  45000 non-null  object
 2   GENDER               45000 non-null  object
 3   DRIVING_EXPERIENCE   45000 non-null  object
 4   EDUCATION            45000 non-null  object
 5   INCOME               45000 non-null  object
 6   CREDIT_SCORE         45000 non-null  float64
 7   VEHICLE_OWNERSHIP    45000 non-null  float64
 8   VEHICLE_YEAR         45000 non-null  object
 9   MARRIED              45000 non-null  float64
 10  CHILDREN             45000 non-null  float64
 11  POSTAL_CODE          45000 non-null  int64
 12  ANNUAL_MILEAGE       45000 non-null  float64
 13  SPEEDING_VIOLATIONS  45000 non-null  int64
 14  DUIS                 45000 non-null  int64
 15  PAST_ACCIDENTS       45000 non-null  int64
 16  TYPE_OF_VEHICLE      45000 non-null  object
dtypes: float64(5), int64(5), object(7)
memory usage: 5.8+ MB

In [21]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()

In [22]:
for col in train.select_dtypes('O').columns:
  train[col] = lb.fit_transform(train[col])
  test[col] = lb.fit_transform(test[col])

In [23]:
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import roc_auc_score

In [24]:
train = train.drop('OUTCOME', axis=1)
#test = test.drop('ID', axis=1)

In [25]:
X = train.append(test)
y = [0] * len(train) + [1] * len(test)

/var/folders/sp/w44kr8c57753bl4ch1r09rzc0000gn/T/ipykernel_14487/3820161732.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  X = train.append(test)

In [26]:
from sklearn.ensemble import RandomForestClassifier

In [27]:
model = RandomForestClassifier()

In [28]:
cv_preds = cross_val_predict(model, X, y, cv=5, n_jobs=-1, method='predict_proba')

In [29]:
print(roc_auc_score(y_true=y, y_score=cv_preds[:,1]))

0.4987741665608466

In [30]:
model.fit(X, y)
ranks = sorted(list(zip(X.columns, model.feature_importances_)),
               key=lambda x: x[1], reverse=True)
for feature, score in ranks:
    print(f"{feature:10} : {score:0.4f}")

CREDIT_SCORE : 0.2093
ID         : 0.2089
ANNUAL_MILEAGE : 0.0979
POSTAL_CODE : 0.0619
TYPE_OF_VEHICLE : 0.0469
DRIVING_EXPERIENCE : 0.0464
AGE        : 0.0452
SPEEDING_VIOLATIONS : 0.0441
INCOME     : 0.0438
EDUCATION  : 0.0369
PAST_ACCIDENTS : 0.0369
VEHICLE_YEAR : 0.0239
MARRIED    : 0.0238
GENDER     : 0.0222
CHILDREN   : 0.0209
VEHICLE_OWNERSHIP : 0.0171
DUIS       : 0.0137